<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu carrinho</title>
    <link href="/public/css/carrinho.css" rel="stylesheet" type="text/css">
    <%- include('../partials/configsStyle.ejs')%>
</head>
<body>
    <%- include('../partials/headerDefault.ejs')%>
    <section class="sectionItems_carrinho container mt-5">
        <h3>Carrinho de compras</h3>
        <ul class="listItems_carrinho mt-5">
            
        </ul>
    </section>

    <script src="/public/js/carrinho_index.js"></script>
</body>
</html>