<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livro pesquisado</title>
    <%- include('../partials/configsStyle.ejs')%>
</head>
<body>
    <%- include('../partials/headerNav.ejs')%>
    <%- include("../partials/cardsBooks.ejs")%>
    <section class="container results_pesquisa mt-5">
        <h3>Resultados:</h3>
        <section class="section_booksSearch mt-4">

        </section>
    </section>


    <script src="/public/js/search_index.js"></script>
</body>
</html>