<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link href="/public/css/home.css" rel="stylesheet" type="text/css">
    <%- include('../partials/configsStyle.ejs') %>
</head>
<body>
    <%- include('../partials/headerNav.ejs')%>
    <%- include("../partials/cardsBooks.ejs")%>


    <section class="section_books mt-5"></section>
    <br><br><br>

    <script src="/public/js/home.js"></script>
</body>
</html>